@media all and ( max-width: 800px ) {
#입력{
    text-align:center;
}

#이전버튼{
    text-align:center;
    margin-top:5%;
}
#다음버튼{
}

#버튼그룸{
    margin-top: 5%;
}
#content{
    font-size:11px;
}
.MAT_CD{
    visiblity:hidden;
}
.자재_list_data{
    margin-top:3%;
    text-align:center;
    border: 1px solid;
}




}