@media all and ( max-width: 800px ) {

#select{
    float:left;
    width:50%;
}
#popup{
    width:100%;
}


#불량코드_div{
    text-align:center;
    width:50%;
    float:left;
}
#불량코드{
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-align: center;
}
#불량수{
    width:20%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-align:center;
}
#불량수_div{
    font-size: 1rem;
    font-weight: 400;
    text-align:right;
    display:none;
}
.불량{
    text-align:center;
    border: 1px solid;
}
#불량리스트_div{
    margin-top:5%;
}

#Total_불량수{
    display:none;
}

#hide{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.68);
    z-index: 9999;
    display: none;
}
#close{
    position: fixed;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    width:50px;
    height:50px;
    background: none;
    border:solid white;
    border-radius: 50%;
    color:white;
    font-size: 150%;
}

#notice_box{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    max-height: 80%;
    padding: 16px;
    background: white;
    z-index: 10000;
    border-radius: 10px;
    width: 360px;
    text-align: center;
    font-size: large;
}

#notice_btn{
    background-color:#ecf0f1;
    border:none;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
}
#자재_list{
    margin-top:5%;
}
.자재_list_data{
    height: 35px;
    border: 1px solid;
}
#버튼그룹_div{
    margin-top:10%;
}
#이전버튼_div{
    width:50%;
    float:left;
    text-align:left;
}
#제출버튼_div{
    width:50%;
    float:left;
    text-align:right;
}
#이전버튼{
    width:30%;
    height:auto;
    font-size:2.0vw
}
#제출버튼{
    width:30%;
    height:auto;
    font-size:2.0vw;
}
#MAT_LOT_NO_div{
    display:none;
}

.MAT_CD_class{
    border: none;
    text-align:center;
}
.MAT_LOT_NO_class{
    border: none;
    text-align:center;
}
.span_div{
    padding-top:4px;
}

}


